.title {
    margin-bottom: 20px;
}

.win {
    margin: 0 auto !important;
    width: fit-content;
    border: 2px solid #eee;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.game {
    margin-top: 15px;
}